@use "../../styles" as *;

.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: $size-50;
  font-weight: $font-button-font-weight-default;
  line-height: $font-button-md-line-height;
  font-family: $font-stack;
}
.buttonPrimary {
  background-color: $color-neutral-black;
  color: $color-neutral-white;
}
.buttonSecondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}
.buttonSmall {
  padding: $size-125 $size-200;
  font-size: $font-body-sm-font-size;
}
.buttonMedium {
  padding: $size-150 $size-250;
  font-size: $font-body-md-font-size;
}
.buttonLarge {
  padding: $size-150 $size-300;
  font-size: $font-body-lg-font-size;
}
