@use "../../styles" as *;

.button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: $size-50;
  font-weight: $font-button-font-weight-default;
  line-height: $font-button-md-line-height;
  font-family: $font-stack;
}

.buttonPrimary {
  background-color: $color-neutral-black;
  color: $color-neutral-white;
}

.buttonSecondary {
  box-shadow: rgb(0 0 0 / 15%) 0 0 0 1px inset;
  background-color: transparent !important;
  color: #333;
}

.buttonSmall {
  padding: $size-150 $size-250;
  font-size: $font-body-sm-font-size;
}

.buttonLarge {
  padding: $size-150 $size-300;
  font-size: $font-body-lg-font-size;
}
